
.donate__title {
    font-family: Lato;
    font-size: 2.43em;
    font-weight: 900;
}

.donate__text {
    margin-top: 1.25em;
    font-size: 1.25em;
    font-weight: 500;
}

/* #donate__form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
} */

.donate__to {
    position: relative;
}

.donate-to__wrapper::before {
    content: "TO";
    position: absolute;
    top: -1.56rem;
    left: 3.75rem;
    font-family: "Lato";
    font-size: .75em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 1100px) {
    .donate-to__wrapper::before {
      top: -1.3rem;
      left: 1rem;
      font-size: .6em;
    }
  }

@media screen and (min-width: 320px) {
    .donate-to__value .currency__value {
        margin-left: .6rem;
    }
}

.donate-to__coin::before {
    content: "";
    display: block;
    position: absolute;
    top: .125rem;
    left: -3.75rem;
    background: url(../assets/img/charities.png)no-repeat center top;
    width: 3.5rem;
    height: 3.5rem;
    background-size: 1.6em;
  }

  @media screen and (min-width: 320px) and (max-width: 749px)  {
    .donate-to__coin::before {
      left: -2rem;
      width: 1.561rem;
      height: 1.9rem;
      background-size: 1.7em;
    }
  }

  @media screen and (min-width: 750px) and (max-width: 1100px)  {
      .donate-to__coin::before {
        width: 3rem;
        height: 2.9rem;
        left: -3.3rem;
        background-size: 1.9em;
      }
  }


.donate__btns {
    margin-top: 2rem;
}

.donate-coins-container {
    top: 10.625rem;
}

.donate-coins-container {
    top: 8.125rem;
}

.donate-coins-container .coins-menu {
    margin-top: 1.25em;
    height: 90%;
}

.donate-coins-container .coins-item {
    height: 25%;
}
